body {
    padding-top: 50px;
    /*background-color: #272B30;*/
}

.agenda {
	padding-top: 10px;
}

#calendar {
	background-color: white;
}

.session {
	padding-top: 10px;
}

.profile {
    min-height: 250px;
    display: inline-block;
    width:100%;
}

.img-responsive {
    margin: 0 auto;
}

.print {
	width: 100%;
}

#search form input {
    padding: 0;
}

.search {
   padding-top: 10px; 
}

.search input {
    height: 28px;
}

#search {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    border-radius: 4px 4px 0 0;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom:10px;
    width: 100%;
    padding: 19px;
}

#search form {
    padding-bottom: 10px;
}

.savedEvent{
    background-color:#33CC66;
}

.conflictEvent{
    background-color:#FF4848;
}

.scroll-fix{
    padding-top: 50px;
    margin-top: -50px;
}

.calendarSelect{
    border: 1px solid black;
}