<div class="col-md-4 search">
    <div id="search-full">
        <form class="form-horizontal" role="form">
            <h4>Outil de recherche</h4>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="searchDetail">Rechercher : </label>
                <div class="col-sm-9">
                    <input id="searchDetail" ng-model="search.detail">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="searchConferencier"> Conferencier : </label>
                <div class="col-sm-9">
                    <select id="searchConferencier" ng-model="selectedConferencier">
                        <option ng-repeat="conferencier in conferenciers">{{conferencier.name}}</option>
                        <option value="all">Tous</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="searchSalle"> Salles : </label>
                <div class="col-sm-9">
                    <select id="searchSalle" ng-model="search.salle">
                        <option ng-repeat="salle in salles">{{salle}}</option>
                        <option value="">Toutes</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="searchLang"> Langue : </label>
                <div class="col-sm-9">
                    <select id="searchLang" ng-model="search.lang">
                        <option ng-repeat="lang in languages">{{lang}}</option>
                        <option value="">Toutes</option>
                    </select>
                </div>
            </div>
        </form>
        <!-- <div ng-include="'partials/search.html'"></div> -->
    </div>
</div>  

<div class="col-md-8 session">
    <div class="well profile" ng-repeat="conf in confs | filter:search | conferencierFilter:selectedConferencier | orderBy:conf.date_start" ng-include="'partials/session.html'"></div>
</div>